<h3><b>EDIT A PROGRAMME</b></h3> 
<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name"><b>NAME</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="name">
              </div>
            <div class="form-group col-md-4">
                <label for="faculty"><b>FACULTY</b></label> 
            </div>
            <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="faculty">
            </div>
            <div class="form-group col-md-4">
                <label for="value"><b>VALUE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="value">
              </div>
              <div class="form-group col-md-4">
                <label for="startdate"><b>START DATE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="startdate">
              </div>
              <div class="form-group col-md-4">
                <label for="enddate"><b>END DATE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="enddate">
              </div>
              <div class="form-group col-md-4">
                <label for="funder"><b>PROGRAMME FUNDER</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="funder">
              </div>
              <div class="form-group col-md-4">
                <label for="name"><b>NUMBER OF PROGRAMME APPLICANTS</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group col-md-4">
                <label for="purpose"><b>PURPOSE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <textarea class="form-control" name="purpose" id="purpose" cols="30" rows="5"></textarea> 
              </div>
              <div class="form-group col-md-4">
                <label><b>ACTIVE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <div class="form-check form-check-inline">
                    <input  class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> 
                  </div>
              </div>
              <div class="form-group col-md-4">
                <label for="name"><b>PARTNERSHIP AGREEMENT</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input type="text" class="form-control" id="name">
              </div>
        </div>
        <div style="text-align: center;">
            <button style="width: 20%;" type="button" class="btn btn-dark">SAVE</button>
        </div><br><br>
    </form>
</div>