<h3><b>FACULTIES DETAILS</b></h3> 
<div class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="header"><b>NAMES</b></label> <br> <br>
            <label for="fullname"><b>FULL NAMES : </b></label> <br>
            <label for="fullname"><b>TRADING NAME : </b></label> <br>
            <label for="fullname"><b>REGISTERED NAME : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4">
            <label class="header"><b>REGISTERED OFFICE ADDRESS</b></label> <br> <br>
            <label for="street"><b>STREET ADDRESS : </b></label> <br>
            <label for="code"><b>CODE : </b></label> <br>
            <label for="province"><b>PROVINCE : </b></label> <br>
            <label for="zip"><b>ZIP/POSTAL : </b></label> <br>
            <label for="country"><b>COUNTRY : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4">
            <label class="header"><b>REPRESENTATIVES'S CONTACT</b></label> <br> <br>
            <label for="fullname"><b>FULL NAMES : </b></label> <br>
            <label for="email"><b>EMAIL : </b></label> <br>
            <label for="phoneno"><b>PHONE NUMBER : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4">
            <label class="header"><b>REGISTERATION DETAILS</b></label> <br> <br>
            <label for="fullname"><b>REGISTERATION NUMBER : </b></label> <br>
            <label for="email"><b>REGISTERATION COUNTRY : </b></label> <br>
            <label for="phoneno"><b>REGISTERATION CERTIFICATE : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4">
            <label class="header"><b>WEBSITE</b></label> <br> <br>
            <label for="website"><b>WEBSITE ADDRESS : </b></label> <br> 
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4">
            <label class="header"><b>BEE STATUS</b></label> <br> <br>
            <label for="beelevel"><b>BEE LEVEL : </b></label> <br> 
            <label for="beecertificate"><b>BEE CERTIFICATE : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4"> 
            <label for="trading"><b>TRADING STATUS : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
          <div class="form-group col-md-4"> 
            <label for="trading"><b>ACTIVE : </b></label> <br>
          </div>
          <div class="form-group col-md-4"> 
          </div>
    </div>
</div>