<h3><b>PROGRAMME DETAILS</b></h3> 
<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name"><b>NAME</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="name">
              </div>
            <div class="form-group col-md-4">
                <label for="faculty"><b>FACULTY</b></label> 
            </div>
            <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="faculty">
            </div>
            <div class="form-group col-md-4">
                <label for="value"><b>VALUE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="value">
              </div>
              <div class="form-group col-md-4">
                <label for="startdate"><b>START DATE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="startdate">
              </div>
              <div class="form-group col-md-4">
                <label for="enddate"><b>END DATE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="enddate">
              </div>
              <div class="form-group col-md-4">
                <label for="funder"><b>PROGRAMME FUNDER</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="funder">
              </div>
              <div class="form-group col-md-4">
                <label for="name"><b>NUMBER OF PROGRAMME APPLICANTS</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="name">
              </div>
              <div class="form-group col-md-4">
                <label for="purpose"><b>PURPOSE</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <textarea disabled class="form-control" name="purpose" id="purpose" cols="30" rows="5"></textarea> 
              </div>
              <div class="form-group col-md-4">
                <label for="active"><b>ACTIVE</b></label> 
              </div>
              <div class="form-group col-md-4">  
                    <input disabled class="form-control" type="text" id="active">  
              </div>
              <div class="form-group col-md-4">
                <label for="name"><b>PARTNERSHIP AGREEMENT</b></label> 
              </div>
              <div class="form-group col-md-4"> 
                <input disabled type="text" class="form-control" id="name">
              </div>
        </div> <br><br>
    </form>
</div>